* {
    padding : 0 ;
    margin : 0 ;
    font-family : 'Lato', sans-serif;
    box-sizing : border-box;
}
html {
    scroll-behavior: smooth;
}
/* TITRES */

h2, h3 {
    padding:0.5em 0 1em 0;
}
/* rgb(242,247,250) */
header{

}
nav{
    display:flex;
    width:100%;
}
section.gray{
    background-color:rgb(242,247,250);
}
article.an_article{
    display:flex;
    flex-direction: column;
    border: 1px solid rgb(247,247,247);
    border-radius: 10px;
    width:40%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    background-color: rgb(242,247,250);
}
footer{
    /* background-image: linear-gradient(rgba(34, 37, 51, 0.9), rgba(34, 37, 51, 0.9)), url("../images/city-bg.jpg");*/
    background: rgba(34, 37, 51, 0.9) none repeat scroll 0 0;
}
/* DIV  linear-gradient(rgba(34, 37, 51, 0.9)) */

div.container{
    margin:auto;
}
div.header-main{
    display:flex;
    height:25vh;
}
div.border{
    display:block;
    border-bottom: 1px solid gray;
    margin-bottom:1em;
}
div.phone{
    background-color:black;
    color:white;
    font-size: 1.2em;
}
div.div-section-aboutus{
    display:flex;
}
div.about-us-left{
    width:70%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
div.about-us-right{
    width:30%;
    display:flex;
    justify-content:center;
    align-items:center;
}
div.article-container{
    display:flex;
    justify-content: space-between;
}
div.container-anarticle{
    padding:0.5em;
}
div.contact-top{
    display:flex;
    justify-content: space-between;
}
div.know-more{
    width: 100%;
}
div.footer-div{
    display:flex;
    justify-content: space-between;
    color:white;
}
div.col{
    display: flex;
    flex-direction: column;
}
div.footer-link{

}
div.footer-contact{

}
div.footer-map{

}
div.realisation-table{
    padding-bottom: 1em;
}
div.realisation-row{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.realisation-img-container{
    position:relative;
}
.realisation-img-container:hover .realisation-img {
    opacity: 0.5;
}

.realisation-img-container:hover .content {
    opacity: 1;
}
.content {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    z-index:2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border:1px solid black;
    background-color:white;
}
.about-us-left > p {
    line-height: 18px;
    margin-bottom: 18px;
    text-align: justify;
    margin-right: 25px;
}
/* IMAGES */

img.logo{
    width:200px;
    object-fit: contain;
}
img.profile{
    width:20em;
    height:20em;
    object-fit: contain;
    background-color:black;
    border-radius:50%;
}
img.services_picture{
    width:100%;
    height:20em;
    object-fit: cover;
}
img.services_picture_square{
    width: 20em;
    height: 20em;
    object-fit: cover;
    border: 1px solid rgb(247,247,247);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
img.realisation-img{
    /*width:348px;*/
    width: 100%;
    max-width: 5em;
    height: auto;
    object-fit:cover;
    /*height:223px;*/
}
/* LIENS */

a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a.know-more-link{
    padding: 0.5em;
}
/* LISTES */
ul {
    list-style-type: none;
}
ul.nav-list{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
li.nav-list-item{
    padding-right:1em;
}


/* CLASSES */

.hidden {
    display:none;
}
.padding-right-1em{
    padding-right: 1em;
}
.padding-updown-1em{
    padding:1em 0 1em 0;
}
.white{
    color: white;
}
.margin-top-1em{
    margin-top: 1em;
}
/* SLIDER */

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* MEDIA QUERIES */


/* Extra small devices (phones, 600px and down) */
@media all and (max-width: 600px) {
    body{
        background-color: red;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media all and (min-width: 600px) {
    body{
        background-color: blue;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media all and (min-width: 768px) {
    body{
        background-color: black;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media all and (min-width: 992px) {
    body{
        background-color: green;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media all and (min-width: 1200px) {
    body{
        background-color: pink;
    }
}


